POSTGRES_URL=your_vercel_postgres_url_here
POSTGRES_PRISMA_URL=your_vercel_postgres_prisma_url_here
POSTGRES_URL_NO_SSL=your_vercel_postgres_url_no_ssl_here
POSTGRES_URL_NON_POOLING=your_vercel_postgres_url_non_pooling_here
POSTGRES_USER=your_user
POSTGRES_HOST=your_host
POSTGRES_PASSWORD=your_password
POSTGRES_DATABASE=your_database
